<div id="profile-stats">
  {% if request.user != user_to_follow %} {% if user_following_author %}

  <button
    hx-post="{% url 'posts:toggle_follow' user_to_follow.id %}"
    hx-target="#profile-stats"
    hx-swap="outerHTML"
    class="btn btn-danger btn-sm mb-3"
  >
    Unfollow
  </button>

  {% else %}

  <button
    hx-post="{% url 'posts:toggle_follow' user_to_follow.id %}"
    hx-target="#profile-stats"
    hx-swap="outerHTML"
    class="btn btn-outline-primary btn-sm mb-3"
  >
    Follow
  </button>

  {% endif %} {% endif %}

  <div class="d-flex gap-5 mb-3">
    <div>
      <strong>{{ posts.count }}</strong><br />
      Posts
    </div>

    <a
      href="{% url 'accounts:followers_list' user_to_follow.id %}"
      class="text-decoration-none text-dark"
    >
      <strong>{{ followers_count }}</strong><br />
      Followers
    </a>

    <a
      href="{% url 'accounts:following_list' user_to_follow.id %}"
      class="text-decoration-none text-dark"
    >
      <strong>{{ following_count }}</strong><br />
      Following
    </a>
  </div>
</div>
